.top-bar {
  width: 100vw;
  height:5vh;
  background-color: blue ;
  border-radius: 5px;
}
.wrapper {
  display: grid;
  grid-template-columns:1fr, 3fr 1fr;
  
}
.logo{
  grid-column-start: 1, ;
  grid-column-end: 2 ;
}
.search {
  grid-column-start: 2, ;
  grid-column-end: 3 ;
  width: 100%;
  border-radius: 10px;
}

.search input[type=text] {
  padding: 6px;
  font-size: 17px;
  border-radius: 5px;
}


.nav-links {
  grid-column-start: 3, ;
  grid-column-end: 4;
}
