.dashboard_title {
    color: #013606;
    font-size: 50px;
    padding: 20px;
    background-color: #F9F5F1;
}
.dashboard_wrapper {
    box-sizing: border-box;
    background-color: #F9F5F1;
   

}

.dashboard_text {
    color: #013606;
    font-size: 22px;
    text-align: center;
    margin: 10px;
}

.dashboard_section {
    display: flex;

}
.dashboard_btn {
   border-radius: 5px;
    color: #FFFFFF;
    padding: 9px;
    margin: 10px;
    background-color: #55A356;
    border: #013606;
}
.pause_btn {
    border-radius: 5px;
    color: #FFFFFF;
    padding: 9px;
    margin: 10px;
    background-color: #013606;
    border: #013606;
}

.dashboard_btn:hover {
    background-color: #68BF69;
}

.pause_btn:hover {
    background-color: #274F27;
}

.remove_btn {
    text-decoration: underline;
  cursor: pointer;
  background: none!important;
  border: none;
  padding: 0!important;
}

.remove_btn:hover {
    color: red;
}


.plants_list {
font-weight: 700;
font-size: 16px;
}

.plantcard_title {
    color: #013606;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

.plantcard_text {
    text-align: center;
}

.plantcard_notification {
    text-align: center;
    font-weight: 700;
}

.plantcard_watering {
    font-weight: 700;
    font-style: oblique;
    color: #013606;
}

.plantcard_button {
    color: #FFFFFF;
}






