.landingpage_partone {
    padding: 250px 200px;
    background-color: #FCDC87;
    width: 1470px;

}

.hero_image {
    background-image: url("../assets/hero_image_2.png");
    background-repeat: no-repeat;
    width: 1470px;
    padding: 250px 200px;

}
 .hero_header {
     font-weight: 100;
     font-size: 88px;
     color: #FFFFFF;
 }
.hero_description {
    color: #FFFFFF;
    font-size: 30px;
}
 .brandname {
     font-style: oblique;
 }

 .Container{
    margin-right : 0 !important;
    margin-left : 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
   }

.findout_button {
    
    color: #55A356;
}

   .landingpage_parttwo {
    padding: 250px 200px;
    width: 1470px;
    background-color: #F9F5F1;

   }
   .landingpage_parttwo_start {
    background-color: #F9F5F1;
    width: 1470px;

   }
   .landingpage_parttwo_header {
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 25px;
       color: #013606;
       width: 1470px;
  

   }
   .landingpage_parttwo_description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #013606;
   }

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

   .box_one, .box_two, .box_three, .box_four {
       display: flex;
       flex-direction: row;
       border: 1px red solid;
       padding: 40px 400px;
       margin: 15px;
   }


