.landingpage_partone {
	padding: 250px 200px;
	background-color: #fcdc87;
	max-width: 100%;
	position: relative;
	height: 126vh;
	box-sizing: border-box;
}

.landingpage_partone_text {
	position: absolute;
	bottom: 720px;
}
.hero_image {
	position: absolute;
	max-width: 100%;
	right: 140px;
	top: 438px;
}
.hero_header {
	font-size: 88px;
	color: #ffffff;
	letter-spacing: -0.02em;
	font-style: normal;
	font-weight: bold;
	line-height: 110px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero_description {
	color: #ffffff;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 45px;
	letter-spacing: -0.02em;
}
.brandname {
	font-style: oblique;
}

.Container {
	max-width: 100%;
	margin-right: 0 !important;
	margin-left: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.findout_button {
	color: #55a356;
}

.landingpage_parttwo {
	max-width: 100%;
	background-color: #f9f5f1;
	height: 180vh;
	box-sizing: border-box;
}
.landingpage_parttwo_start {
	background-color: #f9f5f1;
	max-width: 100%;
	height: 20vh;
}
.landingpage_parttwo_header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	color: #013606;
	max-width: 100%;
	font-size: 40px;
}
.landingpage_parttwo_description {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: #013606;
}

.boxes {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.box_one {
	position: absolute;
	width: 873px;
	height: 274px;
	left: 98px;
	border-color: #3f7740;
	border-style: solid;
	border-width: 2px 16px 16px 2px;
}

.box_one_image {
	display: inline-block;
	text-align: left;
	margin-right: 20%;
}

.red_arrow_one {
	position: absolute;
	width: 172px;
	height: 182px;
	left: 971px;
	top: 120px;
}

.box_all_text {
	color: #013606;
	white-space: nowrap;
	clear: both;
	text-align: center;
	top: 50%;
	left: 40%;
	transform: translateY(-50%);
	position: absolute;
}

.box_two {
	position: absolute;
	width: 872px;
	height: 274px;
	left: 410px;
	top: 300px;
	border-color: #3f7740;
	border-style: solid;
	border-width: 2px 16px 16px 2px;
}
.box_two_image {
	display: inline-block;
	text-align: left;
	margin-right: 20%;
}
.red_arrow_two {
	position: absolute;
	width: 200px;
	height: 187px;
	left: 180px;
	top: 384px;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.box_three {
	position: absolute;
	width: 872px;
	height: 274px;
	left: 98px;
	top: 596px;
	border-color: #3f7740;
	border-style: solid;
	border-width: 2px 16px 16px 2px;
}

.box_four {
	position: absolute;
	width: 872px;
	height: 298px;
	left: 410px;
	top: 900px;
	border-color: #3f7740;
	border-style: solid;
	border-width: 2px 16px 16px 2px;
}

.red_arrow_three {
	position: absolute;
	width: 113px;
	height: 182px;
	left: 987px;
	top: 700px;
}

.box_title {
	font-weight: 700;
	font-size: 22px;
}

.signup_btn {
	position: absolute;
	width: 220px;
	height: 44px;
	left: 723px;
	top: 1246px;
}

.box_description {
	font-size: 20px;
}

.numbers {
	font-weight: 700;
	font-size: 32px;
	padding: 10px 10px;
}


@media only screen and (max-width: 768px) {
	.landingpage_partone {
		position: relative;
		max-width: 100%;
		height: 94vh;
	}
	.landingpage_partone_text,
	.hero_header {
		position: absolute;
		width: 500px;
		height: 30px;
		left: 77px;
		top: 60px;

		font-family: Source Serif Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
		line-height: 70px;

		text-align: center;
		letter-spacing: -0.02em;

		color: #ffffff;
	}
	.hero_description {
		position: absolute;
		width: 500px;
		height: 33px;
		left: 52px;
		top: 220px;

		font-family: Source Serif Pro;
		font-style: normal;

		font-size: 20px;
		line-height: 22px;
		text-align: center;
		letter-spacing: -0.02em;

		color: #ffffff;
	}
	.flower_lotus {
		position: absolute;
		top: 90px;
		margin: 5px;
	}
	.findout_btn {
		display: none;
	}
	.hero_image {
		position: absolute;
		width: 680px;
		height: 253px;
		left: 0px;
	
	}
	.landingpage_parttwo {
		height: 150vh;
	}
	.landingpage_parttwo,
	.landingpage_parttwo_start {
		position: relative;
	}
	.landingpage_parttwo_header {
		font-size: 32px;
	}
	.landingpage_parttwo_description {
		font-size: 20px;
	}
	.box_one {
		position: absolute;
		width: 580px;
		height: 157px;
		left: 84px;
		top: 23px;
	}
	.box_one_image_responsive {
		position: absolute;
		width: 124.22px;
		height: 109.42px;
	}
	.box_title {
		font-size: 18px;
	}
	.box_description_responsive {
		overflow: break-word;
		left: 10px;
	}
	.box_description {
		font-size: 16px;
		position: absolute;
		top: 40px;
		right: 40px;
		left: 0px;
		
	}

	.red_arrow_one,
	.red_arrow_two,
	.red_arrow_three {
		display: none;
	}
	.numbers {
		font-size: 24px;
	}
	.box_two {
		position: absolute;
		width: 580px;
		height: 157px;
		left: 84px;
		top: 220px;
	}
	.box_two_image_responsive {
		position: absolute;
		width: 165.22px;
		height: 149.42px;
		top: 0px;
		left: 0px;
	}
	.box_three {
		position: absolute;
		width: 580px;
		height: 157px;
		left: 84px;
		top: 418px;
	}
	.box_three_image_responsive {
		position: absolute;
		width: 155.22px;
		height: 139.42px;
		left: 0px;
	}
	.box_four {
		position: absolute;
		width: 580px;
		height: 157px;
		left: 84px;
		top: 615px;
	}

	.box_four_image_responsive {
		position: absolute;
		width: 165.22px;
		height: 149.42px;
		left: 0px;
	}
}

@media only screen and (max-width: 576px) {
	.landingpage_partone {
		position: relative;
		max-width: 100%;
		height: 94vh;
	}
	.landingpage_partone_text,
	.hero_header {
		position: absolute;
		width: 220px;
		height: 30px;
		left: 77px;
		top: 48px;

		font-family: Source Serif Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
		line-height: 70px;
		/* identical to box height */

		text-align: center;
		letter-spacing: -0.02em;

		color: #ffffff;
	}
	.hero_description {
		position: absolute;
		width: 271px;
		height: 33px;
		left: 52px;
		top: 270px;

		font-family: Source Serif Pro;
		font-style: normal;

		font-size: 20px;
		line-height: 22px;
		text-align: center;
		letter-spacing: -0.02em;

		color: #ffffff;
	}
	.flower_lotus {
		position: absolute;
		top: 160px;
		margin: 5px;
	}
	.findout_btn {
		display: none;
	}
	.hero_image {
		position: absolute;
		width: 520px;
		height: 153px;
		left: 0px;
	}
	.landingpage_parttwo {
		height: 130vh;
	}
	.landingpage_parttwo,
	.landingpage_parttwo_start {
		position: relative;
	}
	.landingpage_parttwo_header {
		font-size: 22px;
	}
	.landingpage_parttwo_description {
		font-size: 14px;
	}
	.box_one {
		position: absolute;
		width: 480px;
		height: 127px;
		left: 34px;
		top: 23px;
	}
	.box_one_image_responsive {
		position: absolute;
		width: 94.22px;
		height: 79.42px;
	}
	.box_title {
		font-size: 14px;
	}
	.box_description {
		font-size: 12px;
		position: absolute;
		top: 40px;
		right: 40px;
		left: 0px;
	}

	.red_arrow_one,
	.red_arrow_two,
	.red_arrow_three {
		display: none;
	}
	.numbers {
		font-size: 24px;
	}
	.box_two {
		position: absolute;
		width: 480px;
		height: 127px;
		left: 34px;
		top: 183px;
	}
	.box_two_image_responsive {
		position: absolute;
		width: 145.22px;
		height: 129.42px;
		top: 0px;
		left: 0px;
	}
	.box_three {
		position: absolute;
		width: 480px;
		height: 127px;
		left: 34px;
		top: 343px;
	}
	.box_three_image_responsive {
		position: absolute;
		width: 125.22px;
		height: 109.42px;
		left: 0px;
	}
	.box_four {
		position: absolute;
		width: 480px;
		height: 127px;
		left: 34px;
		top: 503px;
	}

	.box_four_image_responsive {
		position: absolute;
		width: 135.22px;
		height: 119.42px;
		left: 0px;
	}
	.signup_btn {
		display: none;
	}
}
