.signin_header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #013606;
    padding: 15px 10px;
    font-weight: 700;
}

.form_wrapper {
position: relative;
    height: 85vh;
    width: 100%;
    padding: 20px;
    background-color: #F9F5F1;
}

.form_container {
    padding: 20px;
}

.login_member_text {
    padding: 12px 7px;
    position: absolute;
    left: 531px;
    margin-top: 50px;
}

.signup_link {
    color: #3F7740;
}

.login_button {
    margin-top: 10px;
    position: absolute;
    left: 634px;
}
